@model AtomicLists.Models.Task
@{
    ViewData["Title"] = "Create";
}
<div class="flex flex-col items-center gap-12 p-8">
    <h1 class="text-4xl">Add a task</h1>

    <!-- Add a new task form -->
    <form asp-controller="Task" asp-action="Edit" method="post">
        <div class="flex flex-col gap-3 justify-center items-center bg-base-200 p-2">

            <label aspfor="TaskDescription">Task Description</label>
            <input asp-for="TaskDescription" type="text" placeholder="Describe your task" class="input input-bordered w-full max-w-sm"/>

            <label asp-for="Area">Task Tag</label>
            <select asp-for="Area" class="select select-bordered w-full max-w-sm">
                <option disabled selected>Task Tag</option>
                <option>School</option>
                <option>Work</option>
                <option>Exercise</option>
                <option>Chores</option>
            </select>

            <label asp-for="Priority">Task Priority</label>
            <select asp-for="Priority" class="select select-bordered w-full max-w-sm">
                <option disabled selected>Choose Priority</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>

            <label asp-for="DateCreated">Date Created</label>
            <input asp-for="DateCreated" type="datetime-local">
            
            <input asp-for="IsComplete" type="hidden" value="false" />
            
            <input type="submit" class="btn btn-primary" value="Edit">

            <!-- Validation summary -->
            @* <div asp-validation-summary="All"></div> *@

            <!-- Return to tasks -->
            <a asp-action="Index"><p class="link">Return to tasks</p></a>
        </div>
    </form>


</div>
