@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-column">
    
    <div class="flex-column space-y-4 w-60">
        <div class="border-2">
            <p>Overview</p>
        </div>
        <div class="border-2">
            <p>Calendar</p>
        </div>
        <div class="border-2">
            <p>Analytics</p>
        </div>
    </div>
    <div class="flex-column">
        <h2>PROJECTS</h2>
        <p>School</p>
        <p>Exercise</p>
    </div>
    <div class="flex-column">
        <h2>TASKS</h2>
        <p>Walk the dog</p>
        <p>Do math exercise 6.2</p>
    </div>
</div>